@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

img {
  width: 100%;
}

.heart-container {
  position: relative;
  display: inline-block;
}

.heart-outline {
  position: relative;
  font-size: 25px;
  color: black;
  z-index: 2;
}

.heart-fill {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  color: #FFF;
  z-index: 1;
  transition: all 0.7s ease-in-out;
  transform: scale(1);
}

.heart-container:hover .heart-fill {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #FFF;
}

.title {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.1rem;
  align-items: center;
}

.bg-city {
  background-color: #F7F7F7;
  padding: 50px 0 50px 0;
}

.city {
  text-align: center;
  padding: 15px;
  font-weight: 500;
  background: #EAEAEA;
}
.city__icon {
  margin-right: 1rem;
}

.intro {
  text-align: center;
  margin-bottom: 50px;
}
.intro__title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.intro__info {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 2rem;
}
.intro__btn {
  border-radius: 25px;
  color: #FFF;
  font-weight: 500;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  padding: 15px 20px;
}
.intro__btn:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFF;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.function {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
}
.function__list {
  list-style: none;
  padding: 0;
  margin: 0;
  counter-reset: etape;
}
@media (min-width: 1024px) {
  .function__list {
    display: flex;
    justify-content: center;
  }
}
.function__icon {
  margin-right: 1rem;
  color: #7E7E7E;
  font-size: 1.3rem;
}
.function__item:hover .function__icon {
  color: #fff;
}
.function__item {
  flex: 1;
  font-weight: 500;
  position: relative;
  padding: 1.5rem;
  margin: 1rem 0.5rem 1rem 0.75rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
}
.function__item:before {
  counter-increment: etape;
  content: counter(etape);
  position: absolute;
  left: -10px;
  bottom: 21px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.function__item:hover {
  background-color: #9356DC;
  opacity: 0.8;
}

.restaurant {
  background-color: #F7F7F7;
}

.contain-card {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
}

@media (min-width: 1024px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 5.6rem;
    column-gap: 5.6rem;
    row-gap: 1.5rem;
  }
}

.card {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .card {
    flex: 1 1 45%;
  }
}
.card__new {
  width: 80px;
  height: 29px;
  background: #99E2D0;
  color: #008766;
  position: absolute;
  text-align: center;
  font-weight: 500;
  top: 15px;
  right: 9px;
  padding: 0.2rem;
}
.card__title {
  margin-bottom: 0;
}
.card__info {
  margin-top: 0;
}
.card__img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 150px;
}
@media (min-width: 1024px) {
  .card__img {
    height: 192px;
  }
}
.card__content {
  padding: 10px;
}
.card__content--with-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-contain {
  background: #333;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  padding: 30px 25px;
}
@media (max-width: 760px) {
  .footer-contain {
    flex-direction: column;
  }
}

@media (max-width: 760px) {
  .footer__copy {
    order: 1;
  }
  .link {
    margin-bottom: 0.5rem;
  }
  .link__1 {
    order: 2;
  }
  .link__2 {
    order: 3;
  }
  .link__3 {
    order: 4;
  }
  .link__4 {
    order: 5;
  }
}
.link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
}

.footer__copy {
  color: #fff;
  font-size: 14px;
  margin-right: 20px;
  font-family: "Shrikhand", cursive;
}

.footer_icon {
  margin-right: 0.5rem;
}

.icon {
  position: relative;
}
.icon__logo {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.1rem;
  padding: 1rem;
  align-items: center;
}
.icon__arrow {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  margin-left: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.bg-banner {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: no-repeat;
}

.menu {
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  background-color: #F7F7F7;
  margin-top: -4rem;
  z-index: 1000;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}
.menu__btn {
  text-align: center;
  margin: 3rem 0 3rem 0;
}
.menu__title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Shrikhand", cursive;
}
.menu__contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__carte {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  position: relative;
}
.menu__carte::after {
  content: "";
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 3rem;
  height: 0.15rem;
}
.menu__items {
  display: flex;
  align-items: end;
}
.menu__item {
  padding: 0.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__bgCard {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  margin-bottom: 0.9rem;
  overflow: hidden;
}
.menu__subtitle {
  margin: 0;
  margin-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__info {
  margin: 0;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__price {
  font-weight: 900;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding: 0.6rem;
}
.menu__bgIcon {
  background: #99E2D0;
  margin-right: -4.2rem;
  height: 100%;
  display: inline-flex;
  align-items: center;
  border-radius: 0 15px 15px 0;
  transition-duration: 0.5s;
}
.menu__bgCard:hover .menu__bgIcon {
  margin-right: 0;
  transition: all 0.7s ease-in-out;
  width: 4rem;
}
.menu__icon {
  padding: 1.5rem;
  color: #ffffff;
  font-size: 1.2rem;
  transition: transform 0.5s;
}
.menu__bgCard:hover .menu__icon {
  transform: rotate(360deg);
  transition: all 1s ease-in-out;
}
.menu__animation1 {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
  -webkit-animation: fadein 5s;
  animation: fadein 5s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menu__animation2 {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation: fadein 5s;
  animation: fadein 5s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
.menu__animation3 {
  -webkit-animation-delay: 750ms;
  animation-delay: 750ms;
  -webkit-animation: fadein 5s;
  animation: fadein 5s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
