.loader__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  opacity: 0.9;
  position: fixed;
  background-color: #000000be;
  inset: 0;
  z-index: 999;
  animation: disappear 3s forwards;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes disappear {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}



.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

circle {
  fill: none;
  stroke-width: 3.5;
  animation-name: preloader;
  animation-fill-mode: forwards;
  animation-duration: 3s;
  animation-iteration-count: 3s;
  animation-timing-function: ease-in-out;
  transform-origin: 170px 170px;
  will-change: transform;

  &:nth-of-type(1) {
    stroke-dasharray: 550px;
  }

  &:nth-of-type(2) {
    stroke-dasharray: 500px;
  }

  &:nth-of-type(3) {
    stroke-dasharray: 450px;
  }

  &:nth-of-type(4) {
    stroke-dasharray: 300px;
  }

  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      animation-delay: -#{$i * 0.15}s;
    }
  }
}

@keyframes preloader {
  0% {
    opacity: 1;
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    opacity: 0;
    display: none;
  }
}